/* LogPage.css */

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-image: url(../asset/bg.jpg);
  position: relative;
}

.top-rectangle,
.bottom-rectangle {
  position: absolute;
  left: 0;
  right: 0;
  height: 150px;
  background-color: rgb(100, 111, 127);
  overflow: hidden;
}

.top-rectangle:before,
.bottom-rectangle:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: 
    url('/public/ZXpic/1.png'),
    url('/public/ZXpic/2.png'),
    url('/public/ZXpic/3.png'),
    url('/public/ZXpic/4.png'),
    url('/public/ZXpic/5.png'),
    url('/public/ZXpic/6.png'),
    url('/public/ZXpic/7.png'),
    url('/public/ZXpic/8.png'),
    url('/public/ZXpic/9.png');
    background-size: 900% 100%; 
  animation: flashImages 9s steps(9) infinite;
}


@keyframes flashImages {
  0% {
    background-position: 0% 0%;
  }
  11.1% {
    background-position: 0% 0%;
  }
  22.2% {
    background-position: 100% 0%;
  }
  33.3% {
    background-position: 100% 0%;
  }
  44.4% {
    background-position: 200% 0%;
  }
  55.5% {
    background-position: 200% 0%;
  }
  66.6% {
    background-position: 300% 0%;
  }
  77.7% {
    background-position: 300% 0%;
  }
  88.8% {
    background-position: 400% 0%;
  }
  100% {
    background-position: 400% 0%;
  }
}
.title-container {
  text-align: center;
  margin-top: 20px;
}

.page-title {
  color: #fff;
  font-size: 24px;
  margin: 0;
}

.top-rectangle {
  top: 0;
}

.bottom-rectangle {
  bottom: 0;
}

.login-container {
  width: 50vh;
  padding: 40px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  background-color: white;
  z-index: 2; /* Ensure the login container is on top of the rectangles */
}

.login-form {
  margin-top: 0px;
}

.login-title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}
