.gray-text {
  color: gray;
  display: block; /* 每个 <p> 元素占一行 */
  column-count: 3; /*分为三列 */
  column-fill: balance; /* 平均分布文本 */
}

.text-content {
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 1px;
  box-sizing: border-box;
  text-align: justify;
  break-inside: avoid;
}

.black-text {
  color: black !important;
}

