.gray-text {
    color: gray;
    display: flex;
    flex-wrap: wrap;
  }
  
  .text-content {
    margin: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 1px;
    width: 33.33%; /* 将每个 <p> 元素平均分为三列 */
    box-sizing: border-box;
    text-align: justify; /* 可以根据需要设置文本对齐方式 */
  }
  